<% if (title) { %>
  <h1><%- title %></h1>
<% } else {
  res.redirect('/')
} %>

<%- messages() %>

<% if (errors) { %>
  <ul class="notice">
    <% errors.array().forEach(error => { %>
      <li><%= error.msg %></li>
    <%  }) %>
  </ul>
<% } %>

<div class="form-container">
  <h2>Update Account Information</h2>
  <form action="/account/update-info" method="post">
    <div class="form-group">
      <label for="account_firstname">First Name:</label>
      <input type="text" id="account_firstname" name="account_firstname" required value="<%= locals.account_firstname %>">
    </div>
    <div class="form-group">
      <label for="account_lastname">Last Name:</label>
      <input type="text" id="account_lastname" name="account_lastname" required value="<%= locals.account_lastname %>">
    </div>
    <div class="form-group">
      <label for="account_email">Email:</label>
      <input type="email" id="account_email" name="account_email" required value="<%= locals.account_email %>">
    </div>
    <input type="hidden" name="account_id" value="<%= locals.account_id %>">
    <button type="submit" class="form-btn">Update Account</button>
  </form>
</div>

<div class="form-container">
  <h2>Change Password</h2>
  <form action="/account/update-password" method="post">
    <p>Note: Changing your password will update it permanently.</p>
    <div class="password-requirements">
        <p><strong>Password Requirements:</strong></p>
        <ul>
          <li>Minimum 12 characters in length</li>
          <li>At least 1 capital letter</li>
          <li>At least 1 number</li>
          <li>At least 1 special character (!@#$%^&*)</li>
        </ul>
    </div>
    <div class="form-group">
      <label for="account_password">New Password:</label>
      <input type="password" id="account_password" name="account_password" required pattern="^(?=.*[A-Z])(?=.*[0-9])(?=.*[!@#$%^&*])[a-zA-Z0-9!@#$%^&*]{12,}$">
    </div>
    <input type="hidden" name="account_id" value="<%= locals.account_id %>">
    <button type="submit" class="form-btn">Change Password</button>
  </form>
</div>
